<div>
  <label> Filter by status:
    <select [(ngModel)]="filterByStatus" (ngModelChange)="getIssues()">
      <option [value]="null">All</option>
      <option *ngFor="let status of statuses" [value]="status">{{status}}</option>
    </select>
  </label>
</div>
<ul class="issues">
  <li *ngFor="let issue of issues">
    <a routerLink="/issue/{{issue.id}}">
      <span class="badge">{{issue.id}}</span> {{issue.name}}
    </a>
    <button (click)="remove(issue)">Remove</button>
  </li>
</ul>
<div>
  <label><input #issueName placeholder="What has to be done?"/></label>
  <button (click)="add(issueName.value); issueName.value=''">
    Create
  </button>
  <button (click)="fullCreate(issueName.value); issueName.value=''">
    Full create
  </button>
</div>
<span class="error-text" *ngIf="errorMessages['name']">{{errorMessages['name']}}</span>

<app-issue-edit *ngIf="isFullCreate" [issue]="newIssue" (onSave)="save($event)"></app-issue-edit>

<br/>
<button (click)="goBack()">Go back</button>


