<div>
  <h1>Issue Form</h1>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Name:
        <input [(ngModel)]="issueEdit.name" name="name" placeholder="name"/>
      </label>
        <div class="error-text" *ngIf="errors['name']">{{errors['name']}}</div>
    </div>

    <div class="form-group">
      <label>Type:
        <select [(ngModel)]="issueEdit.type" name="type">
          <option *ngFor="let type of types" [value]="type">{{type}}</option>
        </select>
      </label>
      <div class="error-text" *ngIf="errors['type']">{{errors['type']}}</div>
    </div>

    <div class="form-group">
      <label>Status:
        <select [(ngModel)]="issueEdit.status" name="status">
          <option *ngFor="let opt of statuses" [value]="opt">{{opt}}</option>
        </select>
      </label>
      <div class="error-text" *ngIf="errors['status']">{{errors['status']}}</div>
    </div>

    <div class="form-group">
      <label>Assignee:
        <select [(ngModel)]="issueEdit.assigneeId" name="assigneeId">
          <option [value]="null">Unassigned</option>
          <option *ngFor="let opt of users" [value]="opt.id">{{opt.username}}</option>
        </select>
      </label>
      <div class="error-text" *ngIf="errors['assignee']">{{errors['assignee']}}</div>
    </div>

    <div class="form-group">
      <label>Description:
        <textarea [(ngModel)]="issueEdit.description" placeholder="description" name="description"></textarea>
      </label>
    </div>

    <div class="form-group">
      <label>Projects:
        <select [(ngModel)]="issueEdit.projectId" name="project">
          <option *ngFor="let project of projects" [value]="project.id">{{project.name}}</option>
        </select>
      </label>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>

  </form>

</div>
