<div>
  <ul>
    <li>
      <label>Name:
        <input [(ngModel)]="issue.name" placeholder="name"/>
      </label>
    </li>

    <li>
      <label>Type:
        <select [(ngModel)]="issue.type">
          <option *ngFor="let type of types" [value]="type">{{type}}</option>
        </select>
      </label>
    </li>

    <li>
      <label>Status:
        <select [(ngModel)]="issue.status">
          <option *ngFor="let opt of statuses" [value]="opt">{{opt}}</option>
        </select>
      </label>
    </li>

    <li>
      <label>Description:
        <textarea [(ngModel)]="issue.description" placeholder="description"></textarea>
      </label>
    </li>
  </ul>

  <button (click)="save()">Save</button>
</div>
