<div>
  <h1>Issue Form</h1>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Name:
        <input [(ngModel)]="issue.name" name="name" placeholder="name"/>
      </label>
        <div *ngIf="errors['name']">{{errors['name']}}</div>
    </div>

    <div class="form-group">
      <label>Type:
        <select [(ngModel)]="issue.type" name="type">
          <option *ngFor="let type of types" [value]="type">{{type}}</option>
        </select>
      </label>
    </div>

    <div class="form-group">
      <label>Status:
        <select [(ngModel)]="issue.status" name="status">
          <option *ngFor="let opt of statuses" [value]="opt">{{opt}}</option>
        </select>
      </label>
    </div>

    <div class="form-group">
      <label>Description:
        <textarea [(ngModel)]="issue.description" placeholder="description" name="description"></textarea>
      </label>
    </div>

    <div class="form-group">
      <label>Projects:
        <select [(ngModel)]="issue.projectId" name="project">
          <option *ngFor="let project of projects" [value]="project.id">{{project.name}}</option>
        </select>
      </label>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>

  </form>

</div>
